@import "base.scss";

.video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1;
    position: fixed;
    &__bg {
        position: absolute;
        z-index: 2;
        inset: 0;
        background: rgba(0, 0, 0, 1);
        backdrop-filter: blur(10px);
    }
    video {
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 9;
}
.header {
    padding: 5rem 6rem 0;
    @media (max-width: 678px) {
        padding: 25px 30px 0;
    }
    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.title {
    font-size: 6.4rem;
    letter-spacing: 2.1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 678px) {
        font-size: 32px;
        letter-spacing: 8px;
    }
    @media (min-width: 3600px) {
        font-size: 96px;
    }
}
.desc {
    font-size: 3.2rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 5vh;
    @media (max-width: 678px) {
        font-size: 16px;
        margin-top: 12px;
    }
    @media (min-width: 3600px) {
        font-size: 48px;
    }
    span {
        font-weight: 700;
    }
}
.timer {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-top: 3.3rem;
    &__dots {
        width: 0.8rem;
        min-width: 3px;
        @media (max-width: 678px) {
            width: 3px;
        }
        img {
            width: 100%;
        }
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        position: relative;
        &-num {
            display: flex;
            gap: 0.7rem;
            @media (max-width: 678px) {
                gap: 3px;
            }
        }
        &-count {
            width: 6.4rem;
            height: 9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("../img/num-bg.svg");
            background-size: cover;
            @media (max-width: 678px) {
                width: 30px;
                height: 41px;
            }
            span {
                font-size: 6.4rem;
                color: #fff;
                @media (max-width: 678px) {
                    font-size: 28px;
                }
            }
        }
        &-desc {
            position: absolute;
            bottom: -1.6rem;
            transform: translateY(100%);
            font-size: 2.4rem;
            color: rgba(255, 255, 255, 0.5);
            @media (max-width: 678px) {
                bottom: -7px;
                font-size: 12px;
            }
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 9.9rem;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 0 20px;
    @media (max-width: 768px) {
        gap: 40px;
    }
    @media (max-width: 678px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__left {
        align-self: center;
        justify-self: self-end;
        @media (max-width: 678px) {
            order: 2;
        }
        .footer__wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    &__right {
        justify-self: self-start;
        align-self: center;
        @media (max-width: 678px) {
            order: -1;
        }
        .footer__wrap {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    &__line {
        height: 33rem;
        width: 0.3rem;

        background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        opacity: 0.5;
        @media (max-width: 678px) {
            width: 330px;
            height: 3px;
            margin: 0 auto;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }
    }
    &__loc {
        width: 43.5rem;
        @media (max-width: 678px) {
            display: none;
        }
        @media (min-width: 3600px) {
            width: 772px;
        }
        &-mob {
            display: none;

            @media (max-width: 678px) {
                width: 300px;
                display: block;
            }
        }
        img {
            width: 100%;
        }
    }
    &__text {
        color: #fff;
        font-size: 2rem;
        margin-bottom: 3.4rem;
        @media (max-width: 678px) {
            font-size: 16px;
        }
        @media (min-width: 3600px) {
            font-size: 32px;
        }
    }
    &__btn {
        background: rgba(31, 161, 255, 1);
        padding: 1.2rem 2.4rem;
        border-radius: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-size: 1.5rem;
        width: max-content;
        img {
            width: 3.2rem;
        }
        @media (max-width: 678px) {
            padding: 13px 24px;
            font-size: 15px;
        }
        @media (min-width: 3600px) {
            font-size: 30px;
            padding: 18px 49px;
            img {
                width: 32px;
            }
        }
    }
    &__adress {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 2rem;
        gap: 1.8rem;
        margin-top: 2rem;
        img {
            width: 2.9rem;
        }
        @media (max-width: 678px) {
            margin-top: 12px;
        }
        @media (min-width: 3600px) {
            font-size: 32px;
            margin-top: 45px;
            img {
                width: 29px;
            }
        }
    }
}
